[Unit]
Description=Buildbot

[Service]
ExecStart=/buildslave/venv/bin/buildslave start --nodaemon /buildslave/
Restart=always
User=buildslave

[Install]
WantedBy=multi-user.target
